.cont, .cont-lt1, .cont-lt2, .cont-lt3, .cont-lt4, .cont-lt5, .cont-rt1, .cont-rt2, .cont-rt3, .cont-rt4, .cont-rt5 {width:100%; margin:0; border:none; text-align:left}
.cont tr, .cont td {border:none; padding:0}
.w-p50 {width: 50%}
.a-right  {text-align: right;}
.a-left   {text-align: left;}
.a-center {text-align: center;}
.outer {margin:0 10px; text-align:left}

.rowhead {font-weight:bold; text-align:right; width:100px; border-right:1px solid #e4e4e4}
.side .rowhead {width:20%}
fieldset .rowhead {border:none}

#header{margin-bottom:5px; padding:2px 10px 0 10px; background:#16528b; border-bottom:1px solid #e4e4e4;}
#topbar, #topbar a {color:#fff}
#topbar {margin-bottom:2px;height:12px}
#topbar select {border:none; color:white; background:#16528b}
#topbar a {text-decoration:none;}

#navbar ul {margin:0; padding:0;} 
#navbar li {margin:0; padding:0; float:left; text-align:center; list-style-type:none;}
#navbar a  {text-decoration:none;}
#navbar a:hover {color:#ff3600;}

/* Main menu. */
#mainmenu ul {background-color:#1d64ad; height:31px; line-height:31px}
#mainmenu li {padding:0 8px 0 8px; border-right:3px solid #002242; color:white; font-size:14px;}
#mainmenu a  {color:white; font-weight:normal;}
#mainmenu .active   {background-color:#EDEFF4;}
#mainmenu .active a {color:#009900; font-weight:bold;}

#mainmenu #searchbox{float:right; border:none;}
#mainmenu .button-s{border:none; padding:2px}

.table-1 {width:100%; margin-bottom:10px}
.table-2 {width:240px;margin-bottom:10px}
.table-3 {width:360px;margin-bottom:10px}
.table-4 {width:480px;margin-bottom:10px}
.table-5 {width:600px;margin-bottom:10px}
.table-6 {width:800px;margin-bottom:10px}

.table-1 tr, .table-2 tr, .table-3 tr, .table-4 tr, .table-5 tr {padding:3px 3px 3px 3px}
.table-1 td, .table-2 td, .table-3 td, .table-4 td, .table-5 td {padding:3px 3px 3px 3px}
.table-1 th, .table-2 th, .table-3 th, .table-4 th, .table-5 th {padding:3px 3px 3px 3px}

#titlebar .text-1 {width:80%}
.text-1 {width: 90%}
.area-1{width: 90%;}
.button-s{padding:3px 20px 3px 20px}
table      {border:1px solid #e4e4e4;}
caption     {border:1px solid #e4e4e4; background:#efefef; margin:0; padding:2px 2px 2px 10px; border-bottom:none; text-align:left; font-weight:bold; font-size:14px;}
.caption-tr {caption-side:top; text-align:right; border:none; background:none;}
.caption-tl {caption-side:top; text-align:left;  border:none; background:none;}